.footer {
  color: white;
  font-family: "inter";
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .footer {
    padding-top: 100px;
    margin: 100px 0 30px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-top: 200px;
    margin: 130px 0 30px;
  }
}
@media (max-width: 320px) {
  .footer {
    padding-top: 250px;
    margin: 280px 0 30px;
  }
}
