.photo-grid {
  display: grid;
}
.photo-grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: center;
  margin: auto;
}
.photo {
  width: 352px;
}
@media (min-width: 1280px) {
  .photo-grid {
    padding-top: 110px;
  }
}
@media (max-width: 320px) {
  .photo-grid {
    padding-top: 350px;
  }
  .photo {
    width: auto;
    object-fit: contain;
  }
}
@media (max-width: 313px) {
  .photo-grid {
    padding-top: 450px;
  }
}
@media (max-width: 302px) {
  .photo-grid {
    padding-top: 500px;
  }
}
